body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}


.logo {
    font-size: 96px;
    line-height: 0.8;
    color: rgb(179, 13, 13);
    font-weight: bolder;
    font-family: 'Brush Script MT', cursive;
    margin: 0;
}
.version {
    font-size: 18px;
    color: gray;
    font-family: system-ui;
    font-style: italic;

}

.button-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.lucky-button {
    
    padding: 10px 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.search-input {
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40vw;
    font-size: 16px;
}

.result-wrapper {
    margin-top: 20px;
    width: 60vw;

}

.result-item {
    padding: 10px;
    min-height: 60px;
    border-bottom: 1px solid #eee;
}

.result-item:last-child {
    border-bottom: none;
    margin-bottom: 80px;
}
#result-container {
    display: flex;
    justify-content: center;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid  #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}

.site-profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 5px;
}

.domain {
    font-size: 16px;
    color: #888;
    padding: 10px 0;
}

.favicon {
    width: 24px;
    object-fit:scale-down;
    border: 1px solid #ccc;
    height: 24px;
    border-radius: 9999px;
}

.domain-link {
    text-decoration: none;
}
.domain-link:hover .domain {
    text-decoration: 1px #ccc underline;
}

.inner-container {
    width:fit-content;
    height: auto;
    background: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 40px 40px;
    margin-top: 10vh;
    bottom: 0;
}

.summary {
    font-style: italic;
    color: #555;
    padding: 12px;
    border-left: 3px solid #ccc;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.summary:hover {
    background-color: #f8f8f8;
    border-color: rgb(179, 13, 13);
    transition: all 0.3s ease;
}