<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>janNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>


    <div class='search-container'>
        <h1 class="logo">janNet</h1>
        <div class="search-box">
            <div class="search-icon">&#128269;</div>
            <input type="text" class="search-input" id="searchInput" placeholder="Search..."
                onkeypress="handleKeyPress(event)">
            <button type="button" style="display:none"></button>
        </div>
        <div class="button-container">
            <button class="lucky-button" onclick="window.location.href='https://google.com'">I'm feeling
                unlucky</button>
            <button class="lucky-button" onclick="window.location.href='https://github.com/altugjakal/janNet'">Github
                Repository</button>
        </div>
    </div>

        <div id="result-container">
        </div>

                <div class="footer">
            <p>&copy; 2025 janNet. All rights reserved.</p>
        </div>


        <script>
            async function searchInput(e) {
                e.preventDefault();
                const input = document.getElementById("searchInput").value;

                const response = await fetch("/search/" + encodeURIComponent(input), {
                    method: "GET"
                });

                const data = await response.json();

                const container = document.getElementById('result-container');

                container.innerHTML = `
            <div class="result-wrapper">
            ${input.toLowerCase().includes('star trek') ? `<img src="https://media1.tenor.com/m/owM2oYfayfQAAAAC/vulcan-salute-spock.gif" alt="Live Long and Prosper" style="max-width: 100%; height: auto;, align:center" />` : `<h3>Results for: ${input}</h3>`}

                ${data.map(item => `
                <div class="result-item">
                    <a href="${item}">${item}</a>
                </div>
                `).join('')}
            </div>
            `;

            }

            function handleKeyPress(event) {
                if (event.key === 'Enter') {
                    searchInput(event);
                }
            }
        </script>
</body>

</html>