<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>janNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <div class="inner-container">
    <div class='search-container'>
        <h1 class="logo">janNet</h1>
        <div class="search-box">
            <div class="search-icon" id="searchIcon">&#128269;</div>
            <input type="text" class="search-input" id="searchInput" placeholder="Search..."
                onkeypress="handleKeyPress(event)">
            <button type="button" style="display:none"></button>
        </div>
        <div class="button-container">
            <button class="lucky-button" onclick="window.location.href='https://google.com'">I'm feeling
                unlucky</button>
            <button class="lucky-button" onclick="window.location.href='https://github.com/altugjakal/janNet'">Github
                Repository</button>
        </div>
    </div>

    <div id="result-container">
    </div>
</div>  
    <div class="footer">
        <p>&copy; 2025 janNet. All rights reserved.</p>
    </div>

    <script>

        function escapeHtml(text) {
            const div = document.createElement('div');
            div.textContent = text;
            return div.innerHTML;
        }

        async function searchInput(e) {
            e.preventDefault();
            document.getElementById("searchIcon").textContent = "⏳";
            const input = document.getElementById("searchInput").value;

            if (input.startsWith("http://") || input.startsWith("https://")) {
                window.location.href = input;
                return;
            }

            const response = await fetch("/search/" + encodeURIComponent(input), {
                method: "GET"
            });

            const data = await response.json();
            document.getElementById("searchIcon").textContent = "🔍";

            const container = document.getElementById('result-container');

            console.log(data.results);

            container.innerHTML = `
        <div class="result-wrapper">
            <h2>Search Results for "${input}"</h2>
            ${data.summary ? `<p class="summary">${data.summary}</p>` : ''}
            ${data.results.map(item => `
                <div class="result-item">
                    <div class='site-profile'>
                        <img src="${item.favicon}" alt="Favicon" class="favicon">

                        <a href="${item.url}" class="domain-link"><span class="domain">${item.domain}</span></a>
                    </div>
                    <h4>${escapeHtml(item.title)}</h4>
                    <p>${escapeHtml(item.description)}</p>
                    <a href="${item.url}">${item.url}</a>
                </div>
            `).join('')}
        </div>`;
        }

        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                searchInput(event);
            }
        }
    </script>
</body>

</html>